{% extends 'base.html.twig' %}

{% block title %}Hello VueController!{% endblock %}

{% block body %}

<div ref="words" data-words="{{ words|join(',') }}">

</div>

<div id="app">
    <app></app>
</div>

{% endblock %}
