{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ title }}</h1>
<h2>{{ test }}</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ipsa odit voluptates enim, officiis labore sapiente harum quis corporis modi, dolor suscipit quaerat distinctio unde facilis magni eos provident quam!</p>
{% endblock %}