{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

<section class="articles">

    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 30/03/2020 à 19:00 dans la catégorie Politique</div>
        <div class="content">
            <img src="http://placehold.it/350*150" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi porro facilis pariatur. Sequi, quidem commodi.</p>
            <p>Molestiae, inventore? Sequi rem aspernatur ex sint, incidunt, totam, accusantium natus nulla doloremque dolorum suscipit.</p>
            <a href="{{ path('blog_show') }}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 30/03/2020 à 19:00 dans la catégorie Politique</div>
        <div class="content">
            <img src="http://placehold.it/350*150" alt="">
            <p>Nam consequatur ipsam id dolorum necessitatibus architecto voluptate deleniti velit totam. Mollitia natus dolorum praesentium.</p>
            <p>Ut laudantium fugit harum ullam maiores vel labore quidem, nihil atque nostrum accusamus perferendis quam.</p>
            <a href="{{ path('blog_show') }}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 30/03/2020 à 19:00 dans la catégorie Politique</div>
        <div class="content">
            <img src="http://placehold.it/350*150" alt="">
            <p>Sunt quas et reiciendis necessitatibus vero, quisquam eaque mollitia, exercitationem quam autem iure asperiores voluptatibus!</p>
            <p>Fugiat et totam hic minima. Esse eos ipsa aspernatur voluptatibus mollitia consequatur culpa dolore amet!</p>
            <a href="{{ path('blog_show') }}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>

</section>

{% endblock %}
