{% extends 'base.html.twig' %}

{% block body %}

    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 30/03/2020 à 19:00 dans la catégorie Politique</div>
        <div class="content">
            <img src="http://placehold.it/350*150" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi porro facilis pariatur. Sequi, quidem commodi.</p>
            <p>Molestiae, inventore? Sequi rem aspernatur ex sint, incidunt, totam, accusantium natus nulla doloremque dolorum suscipit.</p>
            <p>Molestiae, inventore? Sequi rem aspernatur ex sint, incidunt, totam, accusantium natus nulla doloremque dolorum suscipit.</p>
            <p>Molestiae, inventore? Sequi rem aspernatur ex sint, incidunt, totam, accusantium natus nulla doloremque dolorum suscipit.</p>
        </div>
    </article>

{% endblock %}